  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,900;1,100;1,500;1,700&family=Rubik+Glitch&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
}

h1{
  display: flex;

}

.container{
  margin: 5rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.formulario{
  padding: 1rem;
  width: 40rem;
  height: 20rem;
  border: .1rem solid black;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1 fr, 2 fr;
  grid-template-rows: 1 fr, 1 fr;
  //flex-direction: column;

}

.nome{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;  
  border: .2rem solid black;
}

.telefone{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;  
  border: .2rem solid black;
}

input{
  height: 2.5rem;
  width: 18rem;
  display: flex;
  
}
/*input#txtNome{
  width: 20rem;
}

input#txtTelefone{
  width: 18.1rem;
}*/

button{
  border: none;
  height: 2.4rem;
  width: 5.5rem;
  border-radius: .5rem;
  background-color: #2E86C1;
  color: #fff;
  font-weight: 600;
  margin-left: 20rem;
}

